:root {
    /* Values */
    --xsmall-value: 5px;
    --small-value: 10px;
    --medium-value: 20px;
    --large-value: 30px;
    --xlarge-value: 40px;
    --font-regular: 400;
    --font-bold: 700;
}

@media (min-width: 280px) and (max-width:540px) {
    #overlay {
        min-width: 105vw;
        height: auto;
        padding: 30px;
    }
    .container-full-width{
        width: auto;
        height: auto;
        padding: 0 30px;
    }
    .container-side-image{
        display: none;
    }
    .container-side-image-team {
        display: none;
    }
    .container-side-image-mission {
        display: none;
    }
    .container-image__contact{
        display: none !important;
        background: red;
    }
  }
